@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Teko:wght@300&display=swap');

/*

use font families

font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Teko', sans-serif;
*/

.footer-content {
    background-size: auto;
    background-position: top;
    height: 60vh;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.815)), url(../images/traintrack1.jpg);
}


/* 
    ***************************************************************************************

                             commen laptop screen and small screens

                                            769px - 1400px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 821px) and (max-device-width: 1400px) {}


/* 
    ***************************************************************************************

                                        iPads, Tablets

                                        481px — 768px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 481px) and (max-device-width: 820px) {}


/* 
    ***************************************************************************************

                                     commen mobile screen

                                            320x480

    ***************************************************************************************
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}
